{{ category }}:{{ severity }}

{{ message }}

{% if 'cve' in variables %}
    [CVE]({{ cve }})

{% endif %}
{% if 'cwe' in variables %}
    [Common Weakness Enumeration]({{ cwe.url }})

{% endif %}
{{ description }}

Created by [Tamaris](https://gitlab.com/galep/tamaris)